
 .input-field input[type=email]:focus + label,
 .input-field input[type=text]:focus + label,
 .input-field input[type=password]:focus + label,
 .input-field input[type=number]:focus + label {
    color: #7986cb !important;
}

.input-field input[type=email]:focus,
.input-field input[type=text]:focus,
.input-field input[type=password]:focus,
.input-field input[type=number]:focus {
border-bottom: 1px solid #7986cb !important;
box-shadow: 0 1px 0 0 #7986cb !important;
}
.slider .indicators .indicator-item.active {
    background-color: #7986cb !important;
}

.search-form{
    display: none;
}
#search:focus{
    border-bottom: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
@media(min-width: 768px){
    .search-form{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .search-btn{
        background: transparent;
        border: none;
        color: white;
        cursor: pointer;
    }
    .search-btn i{
        font-size: 2.3rem !important;
    }
    .search-btn:focus {
        outline: none;
        background-color: transparent;
    }
}
.mt-2{
    margin-top: 2rem;
}
.mb-2{
    margin-bottom: 2rem;
}
.cart-product-quantity{
    max-width: fit-content;
}
.flex-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-center .w-50{
    width: 50%;
}
.n-pl{
    padding-left: 0px !important;
}
.error-text{
    padding: 1rem;
    background-color: #ffcdd2;
    color: #f44336;
    width: 50%;
}

