.input-field input[type=email]:focus + label,
 .input-field input[type=text]:focus + label,
 .input-field input[type=password]:focus + label,
 .input-field input[type=number]:focus + label,
 .input-field input[type=textarea]:focus + label,
 textarea.materialize-textarea + label,
 .dropdown-content li>span,
 .secondary-content {
    color: #7986cb !important;
}
textarea.materialize-textarea + label{
    color: #9e9e9e !important;
}

.input-field input[type=email]:focus,
.input-field input[type=text]:focus,
.input-field input[type=password]:focus,
.input-field input[type=number]:focus,
.input-field input[type=textarea]:focus,
textarea.materialize-textarea:focus {
border-bottom: 1px solid #7986cb !important;
box-shadow: 0 1px 0 0 #7986cb !important;
}
.slider .indicators .indicator-item.active {
    background-color: #7986cb !important;
}

.search-form{
    display: none;
}
#search:focus{
    border-bottom: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.review-container{
    display: flex;
    flex-direction: column;
}
.reviews-list{
    max-height: 150px;
    overflow-y: auto;
}
@media(min-width: 768px){
    .container{
        margin-top: 4rem;
    }
    .search-form{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .search-btn{
        background: transparent;
        border: none;
        color: white;
        cursor: pointer;
    }
    .search-btn i{
        font-size: 2.3rem !important;
    }
    .search-btn:focus {
        outline: none;
        background-color: transparent;
    }
    .review-container{
        flex-direction: row;
        justify-content: space-between;
    }
    .review-container .review-container-item{
        width: 45%;
        justify-content: space-between;
    }
    .reviews-list{
        max-height: 300px;
    }
    .store-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
    }
}
.store-container a{
    color: unset !important;
}
.cart-buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
    margin: 2rem 0;
}
.cart-total-price{
    display: flex;
    justify-content: flex-end;
}
.mt-2{
    margin-top: 2rem;
}
.mb-2{
    margin-bottom: 2rem;
}
.cart-product-quantity{
    max-width: fit-content;
}
.flex-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.payment-container{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.flex-center .w-50{
    width: 50%;
}
.n-pl{
    padding-left: 0px !important;
}
.error-text{
    padding: 1rem;
    background-color: #ffcdd2;
    color: #f44336;
    width: 50%;
}
.success-text{
    padding: 1rem;
    background-color: #aed581;
    color: #4caf50;
    width: 50%;
}
.w-100{
    width: 100%;
}
.user-nav{
    display: flex;
}